---
title: cerebiggum
layout: default
no_comments: true
---
<div class="row related">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <div class="col-md-5 {% cycle '', 'col-md-offset-2' %}">
      <div class='indexpad'>
        <a href="{{ post.url }}">
          <div>
            <div class="indexpadimg" style="background-image: url({{ post.thumbnail }})"></div>
            <div class="imagepadlabel">
              <h3>{{ post.title }}</h3>
              <h4>{{ post.date | date: "%B %-d, %Y" }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="row">
<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="/list/page{{ paginator.previous_page }}" class="previous">Prev</a></li>
  {% else %}
    <li class="disabled"><a href="#" class="previous">Prev</a></li>
  {% endif %}
    <li>{{ paginator.page }} of {{ paginator.total_pages }}</li>
  {% if paginator.next_page %}
    <li><a href="/list/page{{ paginator.next_page }}" class="next">Next</a></li>
  {% else %}
    <li class="disabled"><a href="#" class="next ">Next</a></li>
  {% endif %}
</ul>
</div>

<script>
  (function() {
    var cx = '016434440778316955942:fjkbx-cvhss';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div class="col-md-6 col-md-offset-3">
<gcse:search></gcse:search>
</div>
