---
title: cerebiggum
layout: default
no_comments: true
---
<div class="related">
    <center>
    <ul class='list-unstyled'>
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    </center>
</div>

<!-- Pagination links -->
<div>
<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="/list/page{{ paginator.previous_page }}" class="previous">Previous</a></li>
  {% else %}
    <li class="disabled"><a href="#" class="previous">Previous</a></li>
  {% endif %}
    <li>{{ paginator.page }} of {{ paginator.total_pages }}</li>
  {% if paginator.next_page %}
    <li><a href="/list/page{{ paginator.next_page }}" class="next">Next</a></li>
  {% else %}
    <li class="disabled"><a href="#" class="next ">Next</a></li>
  {% endif %}
</ul>
</div>
