<footer class="footer">

    <div class='aboutauthor'>
        <div class='aboutheader'>About the Author</div>
        <div class='aboutcontent'>
            <div class='aboutheadshot'><img src="http://www.gravatar.com/avatar/2363de2e559d0be9c07592bcc0d5cdc8.png"/></div>
            <a href="https://plus.google.com/+SeanHoughton?rel=author">Sean Houghton</a> has been working in software development and computer graphics for over 20 years. Initially working as animator on television and film projects he made the transition to software development in 2000 at a start-up porting arcade games to Nintendo64. Sean eventually made his way to <a href="http://www.highmoonstudios.com">High Moon Studios</a> and served as the studio's technical director. He now leads the tools group at Sony's <a href='http://sms.playstation.com'>Santa Monica Studio</a> helping to create AAA Playstation4 games.
            <br/><br/>
        </div>
    </div>

</footer>