<footer class="footer">

    <div class='aboutauthor'>
        <div class='aboutheader'>About the Author</div>
        <div class='aboutcontent'>
            <div class='aboutheadshot'><img src="http://www.gravatar.com/avatar/2363de2e559d0be9c07592bcc0d5cdc8.png"/></div>
            <a href="https://plus.google.com/+SeanHoughton?rel=author">Sean Houghton</a> has been working in software development and computer graphics for over 20 years. He started out as an animator on television and film projects and transitioned in to software development in 2000. Starting at a start-up porting arcade games to N64, Sean eventually made his way to <a href="http://www.highmoonstudios.com">High Moon Studios</a> and served as the studio's technical director. He now leads the tools group at Sony's <a href='http://sms.playstation.com'>Santa Monica Studio</a> working on AAA Playstation4 games.
            <br/><br/>

           <a href="https://twitter.com/seanhoughton" class="twitter-follow-button" data-show-count="false">Follow @seanhoughton</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

           <a href="https://twitter.com/share" class="twitter-share-button" data-via="seanhoughton">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>

</footer>