<!DOCTYPE html>
    <html>
        <head>
        {% include head_tags.html %}
        </head>
        <body>
            <div class="container">
            <div class="highlightcontainer">
                {% include header_div.html %}
                <hr/>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {{ content }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {% if page.no_comments %}
                        {% else %}
                        <div class="row">
                        {% include comments.html %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% include footer.html %}

            </div>
            </div>
            {% include analytics.html %}
    </body>
</html>